body{
    padding: 0;
    margin: 0;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 34, 34);
}

.container{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 40px 10px;
}

.image-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

ul{
    display: flex;
    list-style: none;
}

ul li img{
    opacity: 0.5;
}

ul li .active{
    opacity: 1;
    border: 2px solid black;
}

img{
    height: 500px;
}

button{
    padding: 20px 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(65, 63, 63);
}

button:disabled{
    background-color: rgb(233, 231, 231);
    color: white;
}
