body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

main{
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border: 2px solid black;
    position: relative;
}

.cell{
    border: 1px solid rgb(193, 190, 190);
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.row-end{
    border-right: 1px solid black;
}

.row-bottom{
    border-bottom: 1px solid black;
}

#level{
    margin-right: 80px;
}

button{
    padding: 8px 10px;
    margin-right: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button:hover{
    background-color: rgb(198, 195, 195);
}

button.active{
    background-color: rgb(198, 195, 195);
}

#info{
    display: flex;
    align-items: center;
    margin: 12px;
}

#time{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    padding: 3px 8px;
    border-radius: 4px;
    background-color:rgb(52, 40, 40)
}

